\# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.gen.cpp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
bin
obj

# MSVC
.vs
*.vcxproj
*.vcxproj.filters
*.sln
*.user

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
Makefile
*.dir
*_autogen

# Binaries
BletchMAME
BletchMAME_tests
