# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.gen.cpp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
bin
obj
deps
build

# CMake artifacts
BletchMAME
BletchMAME_autogen
BletchMAME_core_autogen
BletchMAME_tests
BletchMAME_tests_autogen
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
config.tests
